.welcome{

	background-color: $primary;



	& .logo{
		background-image: url(/img/logo-dark.svg);
		margin-bottom: 8vmax;
	}

	& .buttons-wrapper{

		& .bttn.huge{
			color: $primary;
			background: linear-gradient(to bottom, white, darken(white, 20));
			border: 0;

			&.pressed{
				background: linear-gradient(to bottom, darken(white, 20), white);
			}
		}
	}
}
