.screen-keyboard
{
	position: relative;
	position: fixed;
	width: 100%;
	height: 40vh;
	bottom: 0;
	left: 0;
	// display: grid;
	// grid-template-columns: repeat(12, 1fr);
	// grid-gap: .25vmax;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4.2vmax;
	box-sizing: border-box;
	background: $bg;
	transition: transform .4s;
	transform:translateY(100%);
	pointer-events: none;
	z-index: 200;

	& > *{
		display: flex;
		flex-basis: 100%;
		justify-content: center;
	}

	&.shown
	{
		transform: none;
		pointer-events: all;
	}

	& .closer
	{
		position: absolute;
		top: 9px;
		right: 4.2vmax;
		width: fit-content;
		background: $key;
		border-radius: 5px;
		font-family: 'Montserrat';
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 4px 20px;
	}

	&.shift
	{

		& .key
		{
			text-transform: uppercase;

			&.shift
			{
				background-color: $primary;
				color: #fff;
			}
		}
	}

	& .kb-controls{
		border: 1px solid red;
		flex-basis: 80%;
		display: flex;
	}

	& .key
	{
		border: 0;
		font-size: 2.7vmax;
		font-family: 'Montserrat';
		font-weight: 600;
		border-radius: .4vmax;
		background: $key;
		width: calc(100% / 13);
		margin: .25vmax;
		// flex-grow: 1;

		&.long
		{
			// grid-column: auto / span 2;
			flex-basis: 120px;
			flex-shrink: 0;
		}

		&.space
		{
			width: 60%;

			&:before{
				content:'Пробел'
			}
		}

		&.pressed
		{
			background-color: $primary;
			color: #fff;
		}
	}
}

.digital-keyboard{

	position: relative;
	position: fixed;
	width: 100%;
	height: 40vh;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: .25vmax;
	padding: 4.2vmax;
	box-sizing: border-box;
	background: $bg;
	transition: transform .4s;
	transform:translateY(100%);
	pointer-events: none;
	z-index: 200;

	& > *{
		display: flex;
		flex-basis: 100%;
		justify-content: center;
		margin-bottom: 2px;

		& > *{
			width: 20%;
			margin: 0 2px;
		}
	}

	&.shown
	{
		transform: none;
		pointer-events: all;
	}

	& .closer
	{
		position: absolute;
		top: 9px;
		right: 4.2vmax;
		width: fit-content;
		background: $key;
		border-radius: 5px;
		font-family: 'Montserrat';
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 4px 20px;
	}

	& .digital-key
	{
		border: 0;
		font-size: 2.7vmax;
		font-family: 'Montserrat';
		font-weight: 600;
		border-radius: .4vmax;
		background: $key;

		&:last-of-type{
			grid-column: 2 / 3;
		}

		&.long
		{
			grid-column: auto / span 2;
		}

		&.pressed
		{
			background-color: $primary;
			color: #fff;
		}
	}
}