@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900&display=swap');

body{
	font-family: 'Montserrat';
	font-size: clamp(17px, 2.2vw, 21px);

	& h1{
		color: $primary;
		text-transform: uppercase;
		font-weight: 650;
		font-size: clamp(21px, 2.5vw, 25px);
		margin-top: 0.2em;
	}
}